/* Paramètres par défaut (mode jour) */
:root {
    --bg-color: #ffffff;  /* Couleur de fond principale */
    --text-color: #000000;  /* Couleur du texte principal */
    --main-color:#ffffff;
    --accent-color: #0672b4;  /* Couleur d'accentuation */
    --bg-image: url('../images/background.jpg');  /* Image de fond par défaut */
}

/* Paramètres pour le mode nuit */
[data-theme="dark"] {
    --bg-color: #1a1a1a;  /* Fond sombre */
    --text-color: #ffffff;  /* Texte blanc */
    --main-color:#032b44;
    --accent-color: #38b3ff;  /* Couleur d'accentuation pour le mode nuit */
    --bg-image: url('../images/background-dark.jpg');  /* Image de fond pour le mode nuit */
}

/* Styles globaux */
body {
    font-family: 'Roboto','sans-sherif';
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    background-image: var(--bg-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Header */
header {
    background: linear-gradient(to bottom, var(--accent-color), var(--bg-color));
    color: #ffffff;
    padding: 30px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

header::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: url('../svg/wave.svg') repeat-x;
    z-index: -1;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Navigation */
nav ul {
    list-style: none;
    padding: 0 15px;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    text-decoration: underline;
    color: var(--accent-color);
}

/* Main content */
main {
    padding: 10px 40px;
    margin: 20px auto;
    max-width: 800px;
    background: var(--main-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

main section h2 {
    color: var(--accent-color);
    font-size: 1.8em;
    margin-bottom: 20px;
}

/* Footer */
footer {
    background: linear-gradient(to bottom, var(--accent-color), var(--bg-color));
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Liens */
a {
    color: var(--accent-color);
    transition: color 0.3s ease;
}

a:hover {
    color: var(--accent-color);
}

/* Media queries */
@media only screen and (max-width: 708px) {
    header {
        padding: 20px 0;
    }

    header h1 {
        font-size: 2em;
        margin-top: 5px;
    }

    nav ul {
        padding: 0px 15px;
    }

    nav ul li {
        display: flex;
        margin: 5px 15px;
    }

    main {
        margin: 20px;
        max-width: 100%;
    }

    section {
        margin: -10px;
    }
}
