body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main section h2 {
    color: #35424a;
}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

a {
    color: #35424a;
}

a:hover {
    color: #f4b41a;
}

.responsive-image {
    max-width: 50%;
    height: auto;
}

.project-card {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
}

.video-container {
    text-align: center;
    margin-bottom: 20px;
}

.creation-date {
    font-size: 0.75em; /* Taille de la police plus petite */
    color: #777777; /* Couleur gris clair */
    margin-top: 10px; /* Marge supérieure pour l'espacement */
    display: block; /* Affichage en bloc pour forcer une nouvelle ligne */
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
}
.carousel img {
    width: 100%;
    display: none;
}
.carousel img.active {
    display: block;
}
.carousel .prev, .carousel .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.carousel .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.carousel .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.profile-picture {
    width: 150px; /* Ajustez la taille selon vos besoins */
    height: 150px; /* Ajustez la taille selon vos besoins */
    border-radius: 50%; /* Arrondir l'image */
    object-fit: cover; /* S'assure que l'image est bien ajustée dans le cercle */
    display: block; /* Assure que l'image se comporte comme un élément de bloc */
    margin: 30px; /* Centre l'image horizontalement */
}