
/* Global styles */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    background-image: url('images/background.jpg'); /* Chemin vers votre image */
    background-size: cover; /* Ajuste l'image pour couvrir toute la page */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-attachment: fixed; /* Fixe l'image pour qu'elle ne bouge pas avec le défilement */
    background-position: center center; /* Centre l'image */
}

/* Header */
header {
    background: linear-gradient(to bottom, #516d7d, #2a7ba7);
    color: #ffffff;
    padding: 30px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

header::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px; /* Ajustez la hauteur selon vos besoins */
    background: url('wave.svg') repeat-x;
    z-index: -1;
}



header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Navigation */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #f4b41a;
}

/* Main content */
main {
    padding: 10px 30px;
    margin: 20px auto;
    max-width: 800px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

main section h2 {
    color:  #35424a;
    font-size: 1.8em;
    margin-bottom: 20px;}


/* Footer */
footer {
    background: linear-gradient(to bottom, #5a798b, #2a7ba7);
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Links */
a {
    color: #02456e;
    transition: color 0.3s ease;
}

a:hover {
    color: #f4b41a;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0px 10px ;
    border: 4px solid #3f4f6e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.responsive-image {
    max-width: 50%;
    height: auto;
}

.project-card {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
}

.video-container {
    text-align: center;
    margin-bottom: 20px;
}


.creation-date {
    font-size: 0.75em; /* Taille de la police plus petite */
    color: #777777; /* Couleur gris clair */
    margin-top: 10px; /* Marge supérieure pour l'espacement */
    display: block; /* Affichage en bloc pour forcer une nouvelle ligne */
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.carousel img {
    width: 100%;
    display: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel img.active {
    display: block;
}

.carousel .prev, .carousel .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

.carousel .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.carousel .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.attribution {
    position: relative; /* Position absolue par rapport au body */
    bottom: 5px; /* Ajuste la position verticale de l'attribution */
    left: 87%; /* Ajuste la position horizontale de l'attribution */
    background-color: rgba(0, 0, 0, 0.236); /* Fond semi-transparent pour l'attribution */
    color: #ffffff; /* Couleur du texte d'attribution */
    padding: 5px 10px; /* Espacement à l'intérieur de l'attribution */
    font-size: 12px; /* Taille de police de l'attribution */
}
